USE [{{ psa_db_name }}]
GO

{% for table in tables %}
-- EXEC [{{ psa_db_name }}].[{{ table.schema_name }}].[USP_{{ table.object_name }}_STG]
EXEC [{{ psa_db_name }}].[{{ table.schema_name }}].[USP_{{ table.object_name }}_CDC]
EXEC [{{ psa_db_name }}].[{{ table.schema_name }}].[USP_{{ table.object_name }}_LOG]
GO

{% endfor %}