USE [{{ psa_db_name }}]
GO

{% for table in tables %}
IF EXISTS (SELECT * FROM sys.tables WHERE name = '{{ table.object_name }}_LOG' AND schema_id = SCHEMA_ID('{{ table.schema_name }}'))
    DROP TABLE [{{ table.schema_name }}].[{{ table.object_name }}_LOG]
GO
CREATE TABLE [{{ table.schema_name }}].[{{ table.object_name }}_LOG](
    [LOAD_DTS] [DATETIMEOFFSET](7) NOT NULL,
    [SEQUENCE_NO] [BIGINT] NOT NULL,
    [CDC_OPERATION_CODE] [CHAR](1) NOT NULL,
    [REC_SRC] [NVARCHAR](15) NOT NULL,
    [REC_PATH] [NVARCHAR](256) NULL,
    [TRANSFER_DTS] [DATETIMEOFFSET](7) NULL,
    [LOAD_TYPE] [NVARCHAR](10) NULL,
    [HK] [CHAR](32) NOT NULL,
    [HD] [CHAR](32) NOT NULL,
    [HF] [CHAR](32) NOT NULL,
    {% for f in table.pk_fields %}
    [{{ f.field_name }}] {{ f.field_type }} NULL,
    {% endfor %}
    {% for f in table.bk_fields %}
    [{{ f.field_name }}] {{ f.field_type }} NULL,
    {% endfor %}
    {% for f in table.fk_fields %}
    [{{ f.field_name }}] {{ f.field_type }} NULL,
    {% endfor %}
    {% for f in table.di_fields %}
    [{{ f.field_name }}] {{ f.field_type }} NULL{% if not loop.last %},{% endif %}
    {% endfor %}
) ON [PRIMARY]
GO

{% endfor %}