USE [{{ psa_db_name }}]
GO

{% for table in tables %}
IF EXISTS (SELECT * FROM sys.procedures WHERE name = 'USP_{{ table.object_name }}_LOG' AND schema_id = SCHEMA_ID('{{ table.schema_name }}'))
    DROP PROCEDURE [{{ table.schema_name }}].[USP_{{ table.object_name }}_LOG]
GO
CREATE PROCEDURE [{{ table.schema_name }}].[USP_{{ table.object_name }}_LOG]
AS
BEGIN
    DECLARE @LOGSOURCE AS NVARCHAR(100)
    SET @LOGSOURCE = N'{{ psa_db_name }}.{{ table.schema_name }}.USP_{{ table.object_name }}_LOG'

    EXEC META.dbo.USP_WRITELOG N'Start to load {{ table.object_name }}_LOG', @LOGSOURCE, N'N'

    BEGIN TRY
        BEGIN TRAN
            INSERT INTO [{{ table.schema_name }}].[{{ table.object_name }}_LOG]
            (
                [LOAD_DTS],
                [SEQUENCE_NO],
                [CDC_OPERATION_CODE],
                [REC_SRC],
                [REC_PATH],
                [TRANSFER_DTS],
                [LOAD_TYPE],
                [HK],
                [HD],
                [HF],
                {% for f in table.pk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in table.bk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in table.fk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in table.di_fields %}
                [{{ f.field_name }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            )
            SELECT
                SOURCE.[LOAD_DTS],
                SOURCE.[SEQUENCE_NO],
                SOURCE.[CDC_OPERATION_CODE],
                SOURCE.[REC_SRC],
                SOURCE.[REC_PATH],
                SOURCE.[TRANSFER_DTS],
                SOURCE.[LOAD_TYPE],
                SOURCE.[HK],
                SOURCE.[HD],
                SOURCE.[HF],
                {% for f in table.pk_fields %}
                SOURCE.[{{ f.field_name }}],
                {% endfor %}
                {% for f in table.bk_fields %}
                SOURCE.[{{ f.field_name }}],
                {% endfor %}
                {% for f in table.fk_fields %}
                SOURCE.[{{ f.field_name }}],
                {% endfor %}
                {% for f in table.di_fields %}
                SOURCE.[{{ f.field_name }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            FROM [{{ table.schema_name }}].[{{ table.object_name }}_CDC] SOURCE

        COMMIT TRAN

        EXEC META.dbo.USP_WRITELOG N'Finish to load {{ table.object_name }}_LOG', @LOGSOURCE, N'N'
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        DECLARE @ERROR_MESSAGE AS NVARCHAR(4000)
        SET @ERROR_MESSAGE = N'Failed to load {{ table.object_name }}_LOG' + ISNULL(ERROR_MESSAGE(), '')
        EXEC META.dbo.USP_WRITELOG @ERROR_MESSAGE, @LOGSOURCE, N'E'
    END CATCH
END
GO

{% endfor %}