USE [{{ psa_db_name }}]
GO

{% for table in tables %}
{% set pfx = table.record_src ~ '_' if table.record_src else '' %}{% set obj_name = pfx ~ table.table_name %}
{% set pk_first = table.pk_fields[0] if table.pk_fields else {'field_name': 'ID'} %}
IF EXISTS (SELECT * FROM sys.procedures WHERE name = 'USP_{{ obj_name }}_CDC' AND schema_id = SCHEMA_ID('{{ table.schema_name }}'))
    DROP PROCEDURE [{{ table.schema_name }}].[USP_{{ obj_name }}_CDC]
GO
CREATE PROCEDURE [{{ table.schema_name }}].[USP_{{ obj_name }}_CDC]
AS
BEGIN
    DECLARE @LOGSOURCE AS NVARCHAR(100)
    SET @LOGSOURCE = N'{{ psa_db_name }}.{{ table.schema_name }}.USP_{{ obj_name }}_CDC'

    EXEC META.dbo.USP_WRITELOG N'Start to load {{ obj_name }}_CDC', @LOGSOURCE, N'N'

    TRUNCATE TABLE [{{ table.schema_name }}].[{{ obj_name }}_CDC]

    BEGIN TRY
        BEGIN TRAN
            INSERT INTO [{{ table.schema_name }}].[{{ obj_name }}_CDC]
            (
                [LOAD_DTS],
                [SEQUENCE_NO],
                [CDC_OPERATION_CODE],
                [REC_SRC],
                [REC_PATH],
                [TRANSFER_DTS],
                [LOAD_TYPE],
                [HK],
                [HD],
                [HF],
                {% for f in table.pk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in table.bk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in table.fk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in table.di_fields %}
                [{{ f.field_name }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            )
            SELECT
                Mta.LOAD_DTS,
                IIF(Mta.SOURCE_ENTITY = 'HDA', 0, 1) AS SEQUENCE_NO,
                CASE
                    WHEN Mta.LEAD_HF IS NULL
                        AND Mta.SOURCE_ENTITY = 'HDA'
                        AND MAX_LTS.LOAD_TYPE = 'FULL' THEN 'D'
                    WHEN Mta.LAG_HF IS NULL
                        AND Mta.SOURCE_ENTITY = 'CDC' THEN 'I'
                    WHEN Mta.LAG_HF <> Mta.HF
                        AND Mta.LAG_HF IS NOT NULL
                        AND Mta.SOURCE_ENTITY = 'CDC' THEN 'U'
                    ELSE ''
                END AS CDC_OPERATION_CODE,
                Mta.REC_SRC,
                Mta.REC_PATH,
                Mta.TRANSFER_DTS,
                Mta.LOAD_TYPE,
                Mta.HK,
                Mta.HD,
                Mta.HF,
                {% for f in table.pk_fields %}
                Mta.[{{ f.field_name }}],
                {% endfor %}
                {% for f in table.bk_fields %}
                Mta.[{{ f.field_name }}],
                {% endfor %}
                {% for f in table.fk_fields %}
                Mta.[{{ f.field_name }}],
                {% endfor %}
                {% for f in table.di_fields %}
                Mta.[{{ f.field_name }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            FROM
            (
                SELECT
                    LAG(MtaInner.HF) OVER (PARTITION BY MtaInner.HK ORDER BY MtaInner.LOAD_DTS, MtaInner.RNK, MtaInner.SEQUENCE_NO) AS LAG_HF,
                    LEAD(MtaInner.HF) OVER (PARTITION BY MtaInner.HK ORDER BY MtaInner.LOAD_DTS, MtaInner.RNK, MtaInner.SEQUENCE_NO) AS LEAD_HF,
                    MtaInner.LOAD_DTS,
                    MtaInner.SEQUENCE_NO,
                    MtaInner.CDC_OPERATION_CODE,
                    MtaInner.REC_SRC,
                    MtaInner.REC_PATH,
                    MtaInner.TRANSFER_DTS,
                    MtaInner.LOAD_TYPE,
                    MtaInner.HK,
                    MtaInner.HD,
                    MtaInner.HF,
                    {% for f in table.pk_fields %}
                    MtaInner.[{{ f.field_name }}],
                    {% endfor %}
                    {% for f in table.bk_fields %}
                    MtaInner.[{{ f.field_name }}],
                    {% endfor %}
                    {% for f in table.fk_fields %}
                    MtaInner.[{{ f.field_name }}],
                    {% endfor %}
                    {% for f in table.di_fields %}
                    MtaInner.[{{ f.field_name }}],
                    {% endfor %}
                    MtaInner.SOURCE_ENTITY,
                    MtaInner.RNK
                FROM
                (
                    SELECT
                        COALESCE([LOAD_DTS], GETDATE()) AS LOAD_DTS,
                        0 AS SEQUENCE_NO,
                        '' AS CDC_OPERATION_CODE,
                        [REC_SRC],
                        '' AS REC_PATH,
                        NULL AS TRANSFER_DTS,
                        'FULL' AS LOAD_TYPE,
                        [HK],
                        [HF] AS HD,
                        [HF],
                        {% for f in table.pk_fields %}
                        [{{ f.field_name }}],
                        {% endfor %}
                        {% for f in table.bk_fields %}
                        [{{ f.field_name }}],
                        {% endfor %}
                        {% for f in table.fk_fields %}
                        [{{ f.field_name }}],
                        {% endfor %}
                        {% for f in table.di_fields %}
                        [{{ f.field_name }}],
                        {% endfor %}
                        'HDA' AS SOURCE_ENTITY,
                        1 AS RNK
                    FROM [{{ table.schema_name }}].[V_{{ obj_name }}_LOG_CURRENT]
                    UNION ALL
                    SELECT
                        COALESCE([LOAD_DTS], GETDATE()) AS LOAD_DTS,
                        1 AS SEQUENCE_NO,
                        '' AS CDC_OPERATION_CODE,
                        [REC_SRC],
                        '{{ table.schema_name }}.{{ obj_name }}' AS REC_PATH,
                        GETDATE() AS TRANSFER_DTS,
                        'FULL' AS LOAD_TYPE,
                        [HK],
                        [HF] AS HD,
                        [HF],
                        {% for f in table.pk_fields %}
                        [{{ f.field_name }}],
                        {% endfor %}
                        {% for f in table.bk_fields %}
                        [{{ f.field_name }}],
                        {% endfor %}
                        {% for f in table.fk_fields %}
                        [{{ f.field_name }}],
                        {% endfor %}
                        {% for f in table.di_fields %}
                        [{{ f.field_name }}],
                        {% endfor %}
                        'CDC' AS SOURCE_ENTITY,
                        2 AS RNK
                    FROM [{{ table.schema_name }}].[V_{{ obj_name }}_MTA]
                ) MtaInner
            ) Mta
            CROSS JOIN
            (
                SELECT
                    MAX(LOAD_DTS) AS MAX_LOAD_DTS,
                    MAX(LOAD_TYPE) AS LOAD_TYPE
                FROM [{{ table.schema_name }}].[V_{{ obj_name }}_MTA]
            ) AS MAX_LTS
            WHERE CASE
                WHEN Mta.LEAD_HF IS NULL
                    AND Mta.SOURCE_ENTITY = 'HDA'
                    AND MAX_LTS.LOAD_TYPE = 'FULL' THEN 'D'
                WHEN Mta.LAG_HF IS NULL
                    AND Mta.SOURCE_ENTITY = 'CDC' THEN 'I'
                WHEN Mta.LAG_HF <> Mta.HF
                    AND Mta.LAG_HF IS NOT NULL
                    AND Mta.SOURCE_ENTITY = 'CDC' THEN 'U'
                ELSE ''
            END <> ''

        COMMIT TRAN

        EXEC META.dbo.USP_WRITELOG N'Finish to load {{ obj_name }}_CDC', @LOGSOURCE, N'N'
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        DECLARE @ERROR_MESSAGE AS NVARCHAR(4000)
        SET @ERROR_MESSAGE = N'Failed to load {{ obj_name }}_CDC' + ISNULL(ERROR_MESSAGE(), '')
        EXEC META.dbo.USP_WRITELOG @ERROR_MESSAGE, @LOGSOURCE, N'E'
    END CATCH
END
GO

{% endfor %}