USE [{{ psa_db_name }}]
GO

{% for table in tables %}
{% set pk_first = table.pk_fields[0] if table.pk_fields else {'field_name': 'ID'} %}
CREATE PROCEDURE [{{ table.schema_name }}].[USP_{{ table.object_name }}_CDC]
AS
BEGIN
    DECLARE @LOGSOURCE AS NVARCHAR(100)
    SET @LOGSOURCE = N'{{ psa_db_name }}.{{ table.schema_name }}.USP_{{ table.object_name }}_CDC'

    EXEC META.dbo.USP_WRITELOG N'Start to load {{ table.object_name }}_CDC', @LOGSOURCE, N'N'

    BEGIN TRY
        BEGIN TRAN
            TRUNCATE TABLE [{{ table.schema_name }}].[{{ table.object_name }}_CDC]

            INSERT INTO [{{ table.schema_name }}].[{{ table.object_name }}_CDC]
            (
                [CDC_OPERATION_CODE],
                [LOAD_DTS],
                [REC_SRC],
                [REC_PATH],
                [TRANSFER_DTS],
                [HK],
                [HF],
                [INSERT_TIME],
                {% for f in table.pk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in table.bk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in table.di_fields %}
                [{{ f.field_name }}]
                {% endfor %}
            )
            SELECT
                CASE
                    WHEN LAG_HF IS NULL THEN 'I'
                    WHEN LAG_HF <> HF THEN 'U'
                    WHEN LEAD IS NULL THEN 'D'
                    ELSE 'N'
                END AS CDC_OPERATION_CODE,
                GETDATE() AS LOAD_DTS,
                '{{ table.record_source }}' AS REC_SRC,
                '{{ table.schema_name }}.{{ table.object_name }}' AS REC_PATH,
                GETDATE() AS TRANSFER_DTS,
                HK,
                HF,
                GETDATE() AS INSERT_TIME,
                {% for f in table.pk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in table.bk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in table.di_fields %}
                [{{ f.field_name }}]
                {% endfor %}
            FROM
            (
                SELECT
                    STG.[HK],
                    CONVERT(CHAR(32), HASHBYTES('MD5',
                        {% for f in table.pk_fields %}
                        ISNULL(TRIM(CONVERT(NVARCHAR(255), STG.[{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
                        {% if not loop.last %} + {% endif %}
                        {% endfor %}
                        {% for f in table.bk_fields %}
                        + ISNULL(TRIM(CONVERT(NVARCHAR(255), STG.[{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
                        {% endfor %}
                        {% for f in table.di_fields %}
                        + ISNULL(TRIM(CONVERT(NVARCHAR(255), STG.[{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
                        {% endfor %}
                    ), 2) AS HF,
                    LAG(CONVERT(CHAR(32), HASHBYTES('MD5',
                        {% for f in table.pk_fields %}
                        ISNULL(TRIM(CONVERT(NVARCHAR(255), STG.[{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
                        {% if not loop.last %} + {% endif %}
                        {% endfor %}
                        {% for f in table.bk_fields %}
                        + ISNULL(TRIM(CONVERT(NVARCHAR(255), STG.[{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
                        {% endfor %}
                        {% for f in table.di_fields %}
                        + ISNULL(TRIM(CONVERT(NVARCHAR(255), STG.[{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
                        {% endfor %}
                    ), 2)) OVER (PARTITION BY STG.HK ORDER BY STG.INSERT_TIME) AS LAG_HF,
                    LEAD(1) OVER (PARTITION BY STG.HK ORDER BY STG.INSERT_TIME) AS LEAD,
                    {% for f in table.pk_fields %}
                    STG.[{{ f.field_name }}],
                    {% endfor %}
                    {% for f in table.bk_fields %}
                    STG.[{{ f.field_name }}],
                    {% endfor %}
                    {% for f in table.di_fields %}
                    STG.[{{ f.field_name }}]{% if not loop.last %},{% endif %}
                    {% endfor %}
                FROM [{{ table.schema_name }}].[{{ table.object_name }}_STG] STG
            ) CDC
            WHERE CDC.CDC_OPERATION_CODE IN ('I', 'U', 'D')

        COMMIT TRAN

        EXEC META.dbo.USP_WRITELOG N'Finish to load {{ table.object_name }}_CDC', @LOGSOURCE, N'N'
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        DECLARE @ERROR_MESSAGE AS NVARCHAR(4000)
        SET @ERROR_MESSAGE = N'Failed to load {{ table.object_name }}_CDC' + ISNULL(ERROR_MESSAGE(), '')
        EXEC META.dbo.USP_WRITELOG @ERROR_MESSAGE, @LOGSOURCE, N'E'
    END CATCH
END
GO

{% endfor %}