USE [{{ psa_db_name }}]
GO

{% for table in tables %}
{% set pfx = table.record_src ~ '_' if table.record_src else '' %}{% set obj_name = pfx ~ table.table_name %}
IF EXISTS (SELECT * FROM sys.views WHERE name = 'V_{{ obj_name }}_MTA' AND schema_id = SCHEMA_ID('DBO'))
    DROP VIEW [DBO].[V_{{ obj_name }}_MTA]
GO
CREATE VIEW [DBO].[V_{{ obj_name }}_MTA]
AS
SELECT
    COALESCE([LOAD_DTS], GETDATE()) AS LOAD_DTS,
    ROW_NUMBER() OVER (ORDER BY
        {% for f in table.pk_fields %}
        CONVERT(NVARCHAR(50), [{{ f.field_name }}]){% if not loop.last %} + {% endif %}
        {% endfor %}
    ) AS [SEQUENCE_NO],
    CAST(NULL AS NCHAR(1)) AS CDC_OPERATION_CODE,
    '{{ table.record_src }}' AS [REC_SRC],
    '{{ table.schema_name }}.{{ obj_name }}' AS [REC_PATH],
    GETDATE() AS [TRANSFER_DTS],
    CAST('FULL' AS NVARCHAR(10)) AS [LOAD_TYPE],
    CONVERT(CHAR(32), HASHBYTES('MD5',
        {% set key_fields = table.pk_fields + table.bk_fields %}
        {% for f in key_fields %}
        ISNULL(TRIM(CONVERT(NVARCHAR(255), [{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
        {% if not loop.last %} + {% endif %}
        {% endfor %}
    ), 2) AS HK,
    CONVERT(CHAR(32), HASHBYTES('MD5',
        {% for f in table.di_fields %}
        + ISNULL(TRIM(CONVERT(NVARCHAR(255), [{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
        {% endfor %}
    ), 2) AS HD,
    CONVERT(CHAR(32), HASHBYTES('MD5',
        {% for f in table.pk_fields %}
        ISNULL(TRIM(CONVERT(NVARCHAR(255), [{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
        {% if not loop.last %} + {% endif %}
        {% endfor %}
        {% for f in table.bk_fields %}
        + ISNULL(TRIM(CONVERT(NVARCHAR(255), [{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
        {% endfor %}
        {% for f in table.di_fields %}
        + ISNULL(TRIM(CONVERT(NVARCHAR(255), [{{ f.field_name }}])), N'') + N'{{ hash_dummy }}'
        {% endfor %}
    ), 2) AS HF,
    {% for f in table.pk_fields %}
    [{{ f.field_name }}],
    {% endfor %}
    {% for f in table.bk_fields %}
    [{{ f.field_name }}],
    {% endfor %}
    {% for f in table.fk_fields %}
    [{{ f.field_name }}],
    {% endfor %}
    {% for f in table.di_fields %}
    [{{ f.field_name }}]{% if not loop.last %},{% endif %}
    {% endfor %}
FROM [DBO].[{{ obj_name }}_STG]
GO

{% endfor %}