# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# SQLite
*.db

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# OS
.DS_Store

*.db-shm
*.db-wal
