USE [{{ core_db_name }}]
GO

{% for sat in dv_sats %}
IF OBJECT_ID(N'[dbo].[USP_{{ sat.table_name }}]', N'P') IS NOT NULL
    DROP PROCEDURE [dbo].[USP_{{ sat.table_name }}]
GO

CREATE PROCEDURE [dbo].[USP_{{ sat.table_name }}]
AS
BEGIN
    DECLARE @LOGSOURCE AS NVARCHAR(100);
    SET @LOGSOURCE = N'[{{ core_db_name }}].[dbo].[USP_{{ sat.table_name }}]';

    EXEC META.dbo.USP_WRITELOG N'Start to load [{{ core_db_name }}].[dbo].[{{ sat.table_name }}]',
                               @LOGSOURCE,
                               N'N';

    BEGIN TRY
        BEGIN TRAN;

        INSERT INTO [{{ core_db_name }}].[DBO].[{{ sat.table_name }}]
        (
            [HK],
            [HF],
            [HD],
            [LOAD_DTS],
            [REC_SRC],
            [CDC_OPERATION_CODE],
            {% for f in sat.pk_fields %}
            [{{ f.field_name }}],
            {% endfor %}
            {% for f in sat.di_fields %}
            [{{ f.field_name }}]{% if not loop.last %},{% endif %}
            {% endfor %}
        )
        SELECT main.*
        FROM
        (
            SELECT
                [HK],
                [HF],
                [HD],
                [LOAD_DTS],
                [REC_SRC],
                [CDC_OPERATION_CODE],
                {% for f in sat.pk_fields %}
                [{{ f.field_name }}],
                {% endfor %}
                {% for f in sat.di_fields %}
                [{{ f.field_name }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            FROM
            (
                SELECT [LOAD_DTS],
                    [REC_SRC],
                    [CDC_OPERATION_CODE],
                    [HK],
                    [HF],
                    [HD],
                    {% for f in sat.pk_fields %}
                    [{{ f.field_name }}],
                    {% endfor %}
                    {% for f in sat.di_fields %}
                    [{{ f.field_name }}],
                    {% endfor %}
                    CASE
                        WHEN LAG(HD, 1, 'N/A') OVER (PARTITION BY [HK] ORDER BY [LOAD_DTS] ASC, [CDC_OPERATION_CODE] DESC) = HD THEN 'Same'
                        ELSE 'Different'
                    END AS [VALUE_CHANGE_INDICATOR],
                    CASE
                        WHEN LAG([CDC_OPERATION_CODE], 1, '') OVER (PARTITION BY [HK] ORDER BY [LOAD_DTS] ASC, [CDC_OPERATION_CODE] ASC) = [CDC_OPERATION_CODE] THEN 'Same'
                        ELSE 'Different'
                    END AS [CDC_CHANGE_INDICATOR],
                    CASE
                        WHEN LEAD([LOAD_DTS], 1, '9999-12-31') OVER (PARTITION BY [HK] ORDER BY [LOAD_DTS] ASC, [CDC_OPERATION_CODE] ASC) = [LOAD_DTS] THEN 'Same'
                        ELSE 'Different'
                    END AS [TIME_CHANGE_INDICATOR]
                FROM
                (
                    SELECT [LOAD_DTS],
                            [REC_SRC],
                            [CDC_OPERATION_CODE],
                            {% for f in sat.pk_fields %}
                            [{{ f.psa_field_name }}] AS [{{ f.field_name }}],
                            {% endfor %}
                            {% for f in sat.di_fields %}
                            [{{ f.psa_field_name }}] AS [{{ f.field_name }}],
                            {% endfor %}
                            CONVERT(CHAR(32), HASHBYTES('MD5',
                                {% for f in sat.pk_fields %}
                                ISNULL(TRIM(CONVERT(NVARCHAR(50), [{{ f.psa_field_name }}])) + N'{{ hash_tail }}', N''){% if not loop.last %} + {% endif %}
                                {% endfor %}
                            ), 2) AS [HK],
                            CONVERT(CHAR(32), HASHBYTES('MD5',
                                {% for f in sat.pk_fields %}
                                + ISNULL(TRIM(CONVERT(NVARCHAR(255), [{{ f.psa_field_name }}])), N'') + N'{{ hash_tail }}'
                                {% endfor %}
                                {% for f in sat.di_fields %}
                                + ISNULL(TRIM(CONVERT(NVARCHAR(255), [{{ f.psa_field_name }}])), N'') + N'{{ hash_tail }}'
                                {% endfor %}
                            ), 2) AS HF,
                            CONVERT(CHAR(32), HASHBYTES('MD5',
                                {% for f in sat.di_fields %}
                                + ISNULL(TRIM(CONVERT(NVARCHAR(255), [{{ f.psa_field_name }}])), N'') + N'{{ hash_tail }}'
                                {% endfor %}
                            ), 2) AS HD
                    FROM [{{ psa_db_name }}].[{{ sat.psa_schema_name }}].[{{ sat.psa_table_name }}_LOG]
                ) sub
            ) combined_value
            WHERE ([VALUE_CHANGE_INDICATOR] = 'Different' AND [CDC_OPERATION_CODE] IN ('I', 'U'))
                OR ([CDC_CHANGE_INDICATOR] = 'Different' AND [TIME_CHANGE_INDICATOR] = 'Different')
        ) main
            LEFT OUTER JOIN [{{ core_db_name }}].dbo.[{{ sat.table_name }}] sat
                ON sat.HK = main.HK AND sat.[LOAD_DTS] = main.[LOAD_DTS]
        WHERE sat.HK IS NULL;

        EXEC META.dbo.USP_WRITELOG N'Finish to load [{{ core_db_name }}].[dbo].[{{ sat.table_name }}]',
                                   @LOGSOURCE,
                                   N'N';
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        DECLARE @ERROR_MESSAGE AS NVARCHAR(4000);
        SET @ERROR_MESSAGE = N'Failed to load [{{ core_db_name }}].[dbo].[{{ sat.table_name }}]' + ISNULL(ERROR_MESSAGE(), '');
        EXEC META.dbo.USP_WRITELOG @ERROR_MESSAGE, @LOGSOURCE, N'E';
    END CATCH;
END;
GO

{% endfor %}