USE [{{ core_db_name }}]
GO

{% for hub in dv_hubs %}
CREATE PROCEDURE [dbo].[USP_{{ hub.table_name }}]
AS
BEGIN
    DECLARE @LOGSOURCE AS NVARCHAR(100)
    SET @LOGSOURCE = N'{{ core_db_name }}.dbo.USP_{{ hub.table_name }}'

    EXEC META.dbo.USP_WRITELOG N'Start to load {{ hub.table_name }}', @LOGSOURCE, N'N'

    BEGIN TRY
        BEGIN TRAN
            INSERT INTO [dbo].[{{ hub.table_name }}]
            (
                [LOAD_DTS],
                [CDC_OPERATION_CODE],
                [REC_SRC],
                [HK],
                {% for f in hub.pk_fields %}
                [{{ f.field_name }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            )
            SELECT
                PSA.[LOAD_DTS],
                'I' AS CDC_OPERATION_CODE,
                '{{ hub.record_source }}' AS REC_SRC,
                PSA.[HK],
                {% for f in hub.pk_fields %}
                PSA.[{{ f.psa_field_name }}] AS [{{ f.field_name }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            FROM
            (
                SELECT
                    [LOAD_DTS],
                    CONVERT(CHAR(32), HASHBYTES('MD5',
                        {% for f in hub.pk_fields %}
                        ISNULL(TRIM(CONVERT(NVARCHAR(255), [{{ f.psa_field_name }}])), N'') + N'{{ hash_tail }}'
                        {% if not loop.last %} + {% endif %}
                        {% endfor %}
                    ), 2) AS HK,
                    {% for f in hub.pk_fields %}
                    [{{ f.psa_field_name }}],
                    {% endfor %}
                    ROW_NUMBER() OVER (
                        PARTITION BY {% for f in hub.pk_fields %}ISNULL(TRIM(CONVERT(NVARCHAR(255), [{{ f.psa_field_name }}])), N''){% if not loop.last %} + {% endif %}{% endfor %}
                        ORDER BY LOAD_DTS
                    ) AS RN
                FROM [{{ psa_db_name }}].[{{ hub.psa_schema_name }}].[{{ hub.psa_table_name }}_LOG]
                WHERE IS_CURRENT = 1
            ) PSA
            LEFT JOIN [dbo].[{{ hub.table_name }}] T ON T.HK = PSA.HK
            WHERE PSA.RN = 1 AND T.HK IS NULL

        COMMIT TRAN
        EXEC META.dbo.USP_WRITELOG N'Finish to load {{ hub.table_name }}', @LOGSOURCE, N'N'
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        DECLARE @ERROR_MESSAGE AS NVARCHAR(4000)
        SET @ERROR_MESSAGE = N'Failed to load {{ hub.table_name }}' + ISNULL(ERROR_MESSAGE(), '')
        EXEC META.dbo.USP_WRITELOG @ERROR_MESSAGE, @LOGSOURCE, N'E'
    END CATCH
END
GO

{% endfor %}